<%- include('partials/header') %> 

    <h1 ><%= title %> </h1>
<p><%= body %> </p>
<p><a href="/post/edit/<%= postId %>">EDIT</a></p>




<!-- <h1><%= title %> </h1>
<p><%= body %> </p>
<button type="submit" name="button" style="background-color: rgb(79, 79, 230); border: none;border-radius: 5px;padding: 8px;color: white;">Publish</button>
 -->


<%- include('partials/footer') %> 